<div class="user-info" (click)="goToProfile()" >

  <div class="pfp-container">
    <img *ngIf="userAccountInfo.avatar!=''" class="rounded-circle me-2" style="height: 45px; width: 45px; object-fit: cover;"
               src="{{environment}}{{userAccountInfo.avatar}}" alt="">
          <img *ngIf="userAccountInfo.avatar==''" class="rounded-circle me-2" style="height: 45px; width: 45px; object-fit: cover;"
               src="https://media.istockphoto.com/vectors/male-face-silhouette-or-icon-man-avatar-profile-unknown-or-anonymous-vector-id1087531642?k=20&m=1087531642&s=612x612&w=0&h=D6OBNUY7ZxQTAHNVtL9mm2wbHb_dP6ogIsCCWCqiYQg="
               alt="">
    <div class="username-container">
      <div>@{{username}}</div>
    </div>

  </div>

  <!--  <div class="follow-button-container" (click)="followUser()" >
    {{followText}}
  </div> -->

  <div>
    <div class="material-icons media-icon">arrow_forward_ios</div>
  </div>

</div>
