<mat-toolbar class="navbar">
  <mat-toolbar-row class="container">
    <div>
      <!--https://materializecss.com/icons.html-->
      <a mat-button [routerLink]="'/home'" class="mat-icons"> <i class="large material-icons">home</i> </a>
      <a mat-button [routerLink]="'#'" class="mat-icons"> <i class="large material-icons">notifications</i> </a>
      <a mat-button [routerLink]="'#'" class="mat-icons"> <i class="large material-icons">turned_in</i> </a>
    </div>
    <span class="flexExpand"></span>
    <a class="navbar-brand name-app" routerLink="/home">My Application</a>
    <span class="flexExpand"></span>
    <div>
      <mat-toolbar-row>
        <a mat-button [routerLink]="'/profile'" class="mat-icons">
          <img
            src="https://mdbootstrap.com/img/new/avatars/1.webp"
            class="rounded-circle"
            height="22"
            alt=""
            loading="lazy"
          />
          John
        </a>
        <mat-slide-toggle color="primary" [(ngModel)]="isChecked" (click)="changeTheme()"></mat-slide-toggle>
        <i class="small material-icons mat-icons">{{theme}}</i>
      </mat-toolbar-row>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
