<div class="d-flex flex-column flex-shrink-0 p-3 text-white {{theme_sidebar}} sidebar bg">
  <a [routerLink]="'#'" (click)="areActive('home')" class="mb-3 mb-md-0 me-md-auto col_">
    <span class="fs-4 options-menu name-app"><img alt="App logo" class="tw-logo" src="{{environmentAssets}}Logo_navbar.png"></span>
  </a>
  <hr class="divisor">
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="options-menu">
      <a class="nav-link {{active_home}} form-select col_" [routerLink]="'#'" (click)="areActive('home')" aria-current="page">
        <i class="bi bi-house-door icons"></i>Home</a>
    </li>
    <li class="options-menu">
      <a [routerLink]="'#'" class="nav-link {{active_community}} form-select col_" (click)="areActive('community')" >
        <i class="bi bi-people-fill icons"></i>Community</a>
    </li>
    <li class="options-menu">
      <a [routerLink]="'#'" class="nav-link {{active_user_search}} form-select col_" (click)="areActive('userSearch')" >
        <i class="bi bi-search icons"></i>Find Users</a>
    </li>
    <span class="flexExpand"></span>
  </ul>
  <hr class="divisor">
  <div class="dropdown row">
    <div class="col">
      <a class="dropdown-toggle col_" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://i.pinimg.com/originals/69/6b/8b/696b8b8aa775971c56533fca526c879f.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>@{{user}}</strong>
      </a>
      <ul class="dropdown-menu {{theme_dropdown_menu}} text-small" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item color" (click)="confirmDeleteAccount()"><i class="bi bi-x-circle icon"></i>Delete account</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" (click)="areActive('profile')"><i class="bi bi-person-circle icons"></i>Profile</a></li>
        <li><a class="dropdown-item" [routerLink]="'/register'"><i class="bi bi-box-arrow-left icons"></i>Sign out</a></li>
      </ul>
    </div>
    <div class="col col_" style="align-items: center">
      <mat-slide-toggle color="primary" [(ngModel)]="isChecked" (click)="changeTheme()"></mat-slide-toggle>
        <i class="{{theme_icon}}" style="padding-left: 10px"></i>
    </div>
  </div>
</div>
<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>
