<div class="main-feed">

  <div class="sidebar">
  </div>

  <div class="feed">

    <div class="home-title">Search</div>

    <div class="search-container">
      <input  [(ngModel)]="srchString" class="form-control searchbar" type="text" name="post-text" placeholder="Search" >
      <div class="search-button" (click)="searchUsers(srchString)">
        <div class="material-icons search-icon ">search</div>
      </div>
    </div>

    <div *ngIf="searched">
      <div *ngIf="users.length <= 0">
        <div class="no-users">
          No users found for '{{resultStr}}'
        </div>
      </div>

      <div *ngIf="users.length >= 0">
        <div class="user-list" *ngFor="let user of users" >
          <app-user-item [username]="user"></app-user-item>
        </div>
      </div>
    </div>

  </div>

</div>
