<section>
	<div>
	  <div class="objetfitcover">
		  <img style="position: absolute" src="https://images.unsplash.com/photo-1549247796-5d8f09e9034b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1458&q=80">
	  </div>
    <div class="photo_profile">
      <img style="position: absolute; margin-top: 120px; margin-left: 40px" src="https://media.istockphoto.com/vectors/male-face-silhouette-or-icon-man-avatar-profile-unknown-or-anonymous-vector-id1087531642?k=20&m=1087531642&s=612x612&w=0&h=D6OBNUY7ZxQTAHNVtL9mm2wbHb_dP6ogIsCCWCqiYQg=" alt="" width="128" height="128" class="rounded-circle me-2">
    </div>
  </div>
  <div class="container_" style="margin-top: 230px">
    <div class="container">
      <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
           <h1>{{idUser}}</h1>
        </div>
        <div class="col-sm">
          <div class="row">
            <div class="col-sm">
              <div class="row">
                <div class="col">
               <button class="btn btn-primary" type="submit" (click)="unFollowOrFollow()">{{nameButton}}</button>
                  </div>
                <div class="col">
                   <h3>Followers {{numSeguidores}}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <mat-tab-group style="width: 500px">
      <mat-tab label="Posts">
        <div *ngFor="let post of postsUser">
          <app-post [postInfo]="post"></app-post>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</section>
