@import url("https://fonts.googleapis.com/css?family=Asap|Open+Sans");

.container_ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  padding: 15px;
}

.objetfitcover > img {
  width: 97%;
  height: 200px;
  object-fit: cover;
}

.image {
  margin-top: 20px;
  width: 95%;
}

.photo_profile {
  align-self: end !important;
}

.mat-tab-label {
  color: var(--title) !important;
}

.mat-ink-bar {
  color: var(--selected_card);
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover{
  cursor: pointer;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.underline {
  display: inline-block;
  position: relative;
  color: #0087ca;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-line-through-color: #0087ca;
}

.underline:hover{
  cursor: pointer;
}

.padding_bottom {
  padding-bottom: 20px;
  padding-right: 30px;
  padding-left: 30px;
}

.maxWidth {
  width: 100%;
  max-width: 100%;
}

.center {
  display: flex;
    flex-wrap: wrap;
}

.rowReverse {
  display: flex;
  flex-direction: row-reverse;
}
