<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>
<section>
	<div>
	  <div class="objetfitcover">
		  <img style="position: absolute" src="https://images.unsplash.com/photo-1549247796-5d8f09e9034b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1458&q=80">
	  </div>
    <div class="photo_profile">
      <img style="position: absolute; margin-top: 120px; margin-left: 40px" src="https://media.istockphoto.com/vectors/male-face-silhouette-or-icon-man-avatar-profile-unknown-or-anonymous-vector-id1087531642?k=20&m=1087531642&s=612x612&w=0&h=D6OBNUY7ZxQTAHNVtL9mm2wbHb_dP6ogIsCCWCqiYQg=" alt="" width="128" height="128" class="rounded-circle me-2">
	  </div>
  </div>
  <div class="container_" style="margin-top: 230px">
    <div class="row" style="width: 100%;">
      <div class="col columnNomUser" style="display: flex; justify-content: center;">
        <h1>{{user}}</h1>
      </div>
      <div class="col rowButtonFollow">
        <div class="row">
          <div class="col" style="display: flex; justify-content: flex-end;">
          </div>
          <div class="col" style="flex: 1 0 0%; display: flex; align-items: baseline;">
            <p style="padding-left: 20px"><p id="followers-btn" [ngClass]="!isFollowersVisible ? 'hover-underline-animation': 'underline'" (click)="onFollowersTextClicked()">Followers {{numSeguidores}}<p></p>
            <p style="padding-left: 20px"><p id="followings-btn" [ngClass]="!isFollowingVisible ? 'hover-underline-animation': 'underline'" (click)="onFollowingTextClicked()">Followings {{numSeguidos}}<p></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="width: 100%;">
      <div class="col">
        <p-button (click)="showMaximizableDialog()" icon="pi pi-user-edit" label="Edit profile" styleClass="p-button-sm mr-2 mb-2"></p-button>
      </div>
      <div class="col">
        <mat-tab-group style="width: 500px">
          <mat-tab label="Posts">
            <div *ngFor="let post of posts">
              <app-post [postInfo]="post" (postArchived)="refreshListPosts()"></app-post>
            </div>
          </mat-tab>
          <mat-tab label="Archived posts">
            <div *ngFor="let post of postsArchived">
              <app-post [postInfo]="post" (postArchived)="refreshListPosts()"></app-post>
            </div>
          </mat-tab>
          <mat-tab label="Liked posts">
          <div *ngFor="let post of likedPosts">
            <app-post [postInfo]="post" (postArchived)="refreshLikedPosts()"></app-post>
          </div>
        </mat-tab>
        </mat-tab-group>
      </div>
      <div class="col" >
        <ul *ngIf="visibilityComponentUser()" class="list-group">
            <div *ngFor="let userf of listFollowersOrFollowing">
              <li class="list-group-item"><app-user [userAccount]="this.user" [userInfo]="userf" [isFollowers] = "this.isFollowersVisible" (onButtonFollowClicked)="getAllLists()"></app-user></li>
            </div>
        </ul>
      </div>
    </div>
  </div>
  <p-dialog header="Edit profile" [(visible)]="displayMaximizable" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <div class="col-12 md:col-4 padding_bottom">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="text" pInputText placeholder="{{this.userAccountInfo.username}}" [(ngModel)]="newUsername">
        </div>
    </div>

    <div class="row padding_bottom center">
      <div class="col">
        <h3 class="rowReverse">Email:</h3>
      </div>
      <div class="col">
        <span class="p-float-label">
            <input type="text" pInputText [(ngModel)]="newEmail" class="maxWidth" placeholder="{{this.userAccountInfo.email}}">
        </span>
      </div>
    </div>

    <div class="row padding_bottom center">
      <div class="col">
        <h3 class="rowReverse">Password:</h3>
      </div>
      <div class="col">
        <span class="p-float-label">
            <input type="password" pInputText [(ngModel)]="newPassword" class="maxWidth" placeholder="*********">
        </span>
      </div>
    </div>

    <div class="row padding_bottom center">
      <div class="col">
        <h3 class="rowReverse">Name:</h3>
      </div>
      <div class="col">
        <span class="p-float-label">
           <input type="text" pInputText [(ngModel)]="newName" class="maxWidth" placeholder="{{this.userAccountInfo.nom}}">
        </span>
      </div>
    </div>

    <div class="row padding_bottom center">
      <div class="col">
        <h3 class="rowReverse">Surname:</h3>
      </div>
      <div class="col">
        <span class="p-float-label">
            <input type="text" pInputText [(ngModel)]="newSurname" class="maxWidth" placeholder="{{this.userAccountInfo.cognom}}">
        </span>
      </div>
    </div>

    <div class="row padding_bottom center">
      <div class="col">
        <h3 class="rowReverse">Birthdate:</h3>
      </div>
      <div class="col">
        <p>{{this.userAccountInfo.birthdate}}</p>
        <span class="p-float-label">
          <input type="date" [(ngModel)]="newBirthday" id="birthdate" class="text-form maxWidth"/>
        </span>
      </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="confirm()" label="Apply" styleClass="p-button-sm"></p-button>
        <p-button icon="pi pi-times" (click)="this.showCancel(); this.deleteNewInfoAccount(); displayMaximizable=false" label="Cancel" styleClass="p-button-sm"></p-button>
    </ng-template>
  </p-dialog>
</section>

