<div class="login_container">
  <mat-card class="login_card">

    <mat-card-title class="title">Sign in</mat-card-title>

      <mat-form-field class="settings_inputs" appearance="fill">
        <mat-label>Email address</mat-label>
        <input type="email" [(ngModel)]='email' id = "email" matInput placeholder="Ex. enginyeria@software.me">
      </mat-form-field>

      <mat-form-field class="settings_inputs" appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" [(ngModel)]='password' id = "password" matInput placeholder="Ex. 4Rt*!3wexTdF">
      </mat-form-field>

      <div class="forgot_passw">
        <a routerLink="#">Forgot password?</a>
      </div>

      <button class="button_login" (click)="checkLogin()" mat-raised-button color="primary">Sign in</button>

  </mat-card>
  <a> Don't have an account? <a routerLink="/register">create</a></a>
</div>
