<div class="create-post">

  <div class="create-post-profile">
    <img class="profile-pic" src="assets/img/profilePic.png" alt="">
  </div>

  <div class="create-post-form">
    <form  class="register-form" (ngSubmit)="createPost()">
      <input  class="new-post-text" type="text" [(ngModel)]="post_content" name="postText" id="postText" placeholder="What's happening?" >
      <div class="post-btn-container">
        <input [disabled]="!(postForm.controls['postText'].valid)"
               type="submit" value="Tweet"  class="post-button">
      </div>
    </form>
  </div>

</div>
