<div class="post">

  <div class="post-image-side">
    <img class="post-profile-pic" src="https://media.istockphoto.com/vectors/male-face-silhouette-or-icon-man-avatar-profile-unknown-or-anonymous-vector-id1087531642?k=20&m=1087531642&s=612x612&w=0&h=D6OBNUY7ZxQTAHNVtL9mm2wbHb_dP6ogIsCCWCqiYQg=" alt="">
  </div>

  <div class="post-content-side">

    <div class="content-title">
      <span class="user-nickname">{{postInfo.account_name}}</span>
      <span class="username"> @{{postInfo.account_name}}</span>
    </div>

    <div class="content-space">
      {{postInfo.text}}
    </div>

    <div class="content-interaction">

      <div class="media-container">
        <div class="media-btn btn-comments">
          <div class="material-icons media-icon ">chat_bubble_outline</div>
        </div>
        <div class="num-comments">0</div>
      </div>

      <div class="media-container">
        <div class="media-btn btn-rep">
          <div class="material-icons media-icon">repeat</div>
        </div>
        <div class="num-rep">0</div>
      </div>

      <div class="media-container">
        <div class="media-btn btn-likes">
          <div class="material-icons media-icon">favorite_outline</div>
        </div>
        <div class="num-likes">0</div>
      </div>

      <div class="media-container">
        <div class="media-btn btn-up">
          <div class="material-icons media-icon">upload</div>
        </div>
      </div>

    </div>

  </div>

</div>
