.commentModal {
  background-color: rgb(131 131 131 / 61%);
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.commentsContainer {
  position: fixed;
  left: calc(50% - (263px));
  top: 8%;
  height: 100vh;
  background-color: var(--background);
  border-width: 1px 1px 0;
  border-color: var(--border);
  border-style: solid;
  width: 526px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.closeBtn {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2px;
}

.arrowIcon {
  font-size: 24px;
}

.icon {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.add-comment {
  display: flex;
  justify-content: center;
  padding: 12px;
  border-style: solid;
  width: 100%;
  border-color: var(--border);
  border-width: 0;
  border-bottom-width: 1px;
}

.create-post-form {
  padding-top: 10px;
  width: 80%;
}

.new-post-text {
  height: 30px;
  width: 100%;
  font-size: 18px;
  background-color: var(--background);
  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
  color: var(--letter);
}

.new-post-text:focus {
  outline: none;
}

.post-btn-container {
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.post-button {
  padding: 9px 16px;
  border-radius: 20px;
  font-weight: 700;
  color: var(--secondary);
  background-color: var(--primary);
  cursor: pointer;
}

.post-button:active {
  opacity: 0.7;
}

.post-profile-pic {
  width: 48px;
  border-radius: 25px;
}

.communityPost {
  border-right-width: 1px;
  box-shadow: inset -2px 0 0 var(--primary);
}

.post {
  max-width: 520px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  border-color: var(--border);
  background-color: var(--background_card);
  border-style: solid;
  border-width: 0;
  border-bottom-width: 1px;
  cursor: pointer;
}

.post:hover {
  background-color: var(--selected_card);
}

.post-content-side {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.post-image-side {
  width: 48px;
  margin-right: 10px;
}

.username {
  color: var(--color_name_card);
}

.user-nickname:hover {
  text-decoration-line: underline;
}

.content-title {
  height: 20px;
}

.content-space {
  width: 400px;
  text-align: start;
}

.post-text {
  word-break: break-all;

  /* Non standard for webkit */
  hyphens: auto;
  hyphens: auto;
  hyphens: auto;
  width: 400px;
  overflow: auto;
}

.post-text {
  word-break: break-all;

  /* Non standard for webkit */
  hyphens: auto;
  hyphens: auto;
  hyphens: auto;
  width: 400px;
  overflow: auto;
}

.content-interaction {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 36px;
  padding-right: 8%;
}

.content-interaction-profile {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 36px;
  padding-right: 8%;
  flex-wrap: wrap;
}

.media-btn {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  padding-left: 4px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color;
  transition-duration: 0.2s;
  margin-right: 3px;
}

.media-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}

.media-container:hover > .btn-comments {
  background-color: var(--bk_comment);
  color: #1c9bf0;
}

.media-container:hover > .num-comments {
  color: #1c9bf0;
}

.media-container:hover > .btn-delete {
  background-color: black;
  color: #c45656;
}

.media-container:hover > .btn-delete {
  color: #c45656;
}

.media-container:hover > .btn-rep {
  background-color: var(--bk_rt);
  color: #177e08;
}

.media-container:hover > .num-rep {
  color: #177e08;
}

.media-container:hover > .btn-likes {
  background-color: var(--bk_like);
  color: #ec2942;
}

.media-container:hover > .num-likes {
  color: #ec2942;
}

.media-container:hover > .btn-up {
  background-color: rgb(1 62 108 / 84%);
  color: #1c9bf0;
}

.media-icon {
  font-size: 16px;
  width: 20px;
  height: 20px;
}
