<div class="post">

  <div class="post-image-side">
    <img class="post-profile-pic" src="assets/img/profilePic.png" alt="">
  </div>

  <div class="post-content-side">

    <div class="content-title">
      <span class="user-nickname">{{postInfo.user}}</span>
      <span class="username"> @{{postInfo.user}}</span>
    </div>

    <div class="content-space">
      {{postInfo.content}}
    </div>

    <div class="content-interaction">

      <div class="media-container">
        <div class="media-btn btn-comments">
          <div class="material-icons media-icon ">chat_bubble_outline</div>
        </div>
        <div class="num-comments">{{postInfo.comments}}</div>
      </div>

      <div class="media-container">
        <div class="media-btn btn-rep">
          <div class="material-icons media-icon">repeat</div>
        </div>
        <div class="num-rep">{{postInfo.reposts}}</div>
      </div>

      <div class="media-container">
        <div class="media-btn btn-likes">
          <div class="material-icons media-icon">favorite_outline</div>
        </div>
        <div class="num-likes">{{postInfo.likes}}</div>
      </div>

      <div class="media-container">
        <div class="media-btn btn-up">
          <div class="material-icons media-icon">upload</div>
        </div>
      </div>

    </div>

  </div>

</div>
