/* You can add global styles to this file, and also import other style files */

html,

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--background);
  color: var(--secondary);
}

.root,
[tema='dark'] {
  --primary: #007B83;
  --secondary: #FFFFFF;
  --border: #EEEBDD;
  --letter: #EEEBDD;
  --button: #129EAF;
  --background: #202124;
}

[tema='light'] {
  --primary: #F8F9FA;
  --secondary: #5F6368;
  --border: #202124;
  --letter: #202124;
  --button: #202124;
  --background: #CEEAD6;
}
