.register-container {
  padding-top: 2%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.register-form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  border-width: 1px;
  border-style: solid;
  border-radius: 15px;
  border-color: #1a1a1a;
}

.backFormButton {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 3;
  cursor: pointer;
  padding-top: 2px;
  border-radius: 30px;
  transition: background-color;
  transition-duration: 1s;
}

.backFormButton:hover {
  background-color: #131313;
  opacity: 0.9;
}

.backFormButton:active {
  opacity: 0.7;
}

.tw-logo {
  width: 300px;
  height: 170px;
  padding-top: 35px;
}

.register-title {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
  font-size: 30px;
  font-weight: 700;
}

.form-container {
  padding: 15px 110px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-bottom: 2%;
}

.form-field-container {
  height: 60px;
  display: flex;
  align-content: flex-start;
  justify-content: center;
  margin-bottom: 20px;
  flex-direction: column;
}

.text-form {
  background-color: var(--background);
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  height: 45px;
  padding-left: 10px;
  width: 230px;
  color: var(--letter);
}

.text-form:focus {
  background-color: #1a1a1a;
  color: var(--letter);
}

.custom-form {
  padding-bottom: 20px;
}

.register-button {
  width: 240px;
  background-color: #fcfcfc;
  font-family: Arial;
  font-size: 14px;
  font-weight: 600;
  padding: 8px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color;
  transition-duration: 1s;
}

.register-button:hover {
  background-color: #fcfcfc;
  opacity: 0.9;
}

.register-button:active {
  opacity: 0.7;
}

.text-danger-1 {
  color: red;
  font-size: 10px;
  margin-top: 10px;
  width: 250px;
  position: absolute;
  bottom: -20px;
  left: 0;
  z-index: 3;
}

.text-danger-2 {
  color: red;
  font-size: 10px;
  margin-top: 10px;
  width: 250px;
  position: absolute;
  bottom: -40px;
  left: 0;
  z-index: 3;
}

.popup-container {
  position: relative;
}

.btn-register {
  margin-top: 10px;
}

.radio-btn {
  font-size: 12px;
  margin: 2px;
  padding: 0;
}
