<div class="register-container">

  <div class="register-form">
    <div class="register-title">Join Dwtter today </div>
    <div class="form-container">
      <form class="example-form">
        <div class="form-field-container" >
          <mat-form-field class="example-full-width custom-form" appearance="outline" color="warn">
            <mat-label>Username</mat-label>
            <input type="text" matInput placeholder="Ex. Dipsy">
          </mat-form-field>
        </div>
        <div class="form-field-container">
          <mat-form-field class="example-full-width custom-form" appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Ex. dip@example.com">
          </mat-form-field>
        </div>
        <div class="form-field-container">
          <mat-form-field class="example-full-width custom-form" appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" matInput>
          </mat-form-field>
        </div>


      </form>

      <a> Have an account already? <a routerLink="/login">Log in</a></a>
    </div>


  </div>

</div>

