.post-image-side {
  width: 48px;
  margin-right: 10px;
}

.post-profile-pic {
  width: 48px;
  border-radius: 30px;
}

.username {
  color: var(--color_name_card);
}

.user-nickname:hover {
  text-decoration-line: underline;
}

.content-title {
  display: flex;
  flex-direction: column;
}
